*{
    margin: 0px;
    padding: 0px;
}
.User-Sidebar{
    background-color: #EFF4FF;
    width: 300px;
    height: 400px;
    padding: 30px;
}
.User-Sidebar h5{
    color: #3525CD;
}
.User-Sidebar a{
    text-decoration: none;
    color: #464555;
    padding: 10px;
    border-radius: 7px;
}
.User-Sidebar a:hover{
background-color: #3525CD;
color: white;
transition: 0.4s;
}
.User-Details{
    width: 80%;
}
#Edit-Btn{
background-color: #3525CD;
color: white;
padding: 12px;
padding-inline: 18px;
border: none;
border-radius: 10px;
}
#Edit-Btn:hover{
 background-color: #1d1282;
transform: translateY(-5px);
transition: 0.4s;
}
#Analytics-Btn{
 background: transparent;
border: 1px solid #3525CD;
color:#3525CD;
padding: 12px;
padding-inline: 18px;
border-radius: 10px;
}
#Analytics-Btn:hover{
transform: translateY(-5px);
transition: 0.4s;
}
.User-Box{
    border: 1px solid black;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 200px;
    padding: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.User-Box h5{
    padding: 10px;
    background-color: #DCDAFA;
    color: #3525CD;
    width: fit-content;
}