*{
    margin: 0px;
    padding: 0px;
}
.Shipping-Info{
    padding: 20px;
    width: 700px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
.Payment-Method{
    padding: 20px;
    width: 700px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;

}
.Selected-Method{
    border: 2px solid #4F46E5;
    background-color: #4F46E50D;
}
.Selected-Method-Btn{
    background-color: #4F46E5;
}